{% extends 'admin/index.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Category</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-md-6">
                {% for content in data %}
                    <h3>{{ content.name }}</h3><br />
                    <hr />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}