<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin panel{% endblock %}</title>

    {% stylesheets
        'bundles/framework/css/bootstrap.css' filter='cssrewrite'
        'bundles/css/admin/menu.css'
        'bundles/css/admin/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block menu %}
    <div class="menu">
        <nav id="primary_nav_wrap">
            <ul>
                <li class="current-menu-item"><a href="/">Home</a></li>
                <li><a href="#">Image</a>
                    <ul>
                       <li><a href="/user/image/upload">Image upload</a></li>
                        <a href="/user/image/show">Image view</a>
                    </ul>
                </li>
                <li><a href="#">Content</a>
                    <ul>
                        <a href="/user/category">Category</a>
                        <a href="/user/item">Item</a>
                        <a href="/user/slider">Slider</a>
                    </ul>
                </li>

                <li><a href="/user/profile">User</a></li>
                <li><a href="/logout">Logout</a></li>

            </ul>
        </nav>
    </div>
{% endblock %}

{% block body %}

{% endblock %}


{% block content %}{% endblock %}
{% block javascripts %}
    {% javascripts
    'bundles/js/jquery-3.1.1.js'
    'bundles/js/admin/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

<script>
    function callback_tinymce_init(editor) {
        editor.settings.entity_encoding = 'raw';
    }
</script>
{{ tinymce_init() }}

</body>
</html>
