<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin panel{% endblock %}</title>

    {% stylesheets
        'bundles/framework/css/bootstrap.css' filter='cssrewrite'
        'bundles/css/admin/menu.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block menu %}
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/user/item">Item</a>
            </li>
            <li>
                <a href="/user/category">Category</a>
            </li>
            <li>
                <a href="/user/image/upload">Upload image</a>
            </li>
            <li>
                <a href="/user/image/show">Show image</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}

{% endblock %}


{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
